.context-menu {
  display: none;
  position: absolute;
  width: 200px;
  background-color: #fff;
  top: 20px;
  right: 15px;
  z-index: 1000;
  box-shadow: 0 5px 5px #acacac;
  border-radius: 5px;

  & ul {
    list-style: none;
    font-size: 14px;

    & li {
      padding: 15px;

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover {
        background-color: #dfdfdf;
      }
    }
  }
}
