// Light Theme
$text-input-bg-color: #f9f9f9;
$text-input-border-color: #e6e6e6;
$text-input-muted: #737373;
$text-input-border-color-focus: #00a2ff;

$color-primary: #23a6f0;
$color-disabled: #b9d3e2;
$color-muted: #737373;